# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
number = 6

print(number)

##### Assinging float

In [ ]:
numberFloat = 2.3
print(numberFloat)

#### Performing Calculations on ints and floats

##### Addition

In [17]:
num = 2
num1 = 5.4
result = num + num1 
print(result)

7.4

##### Subtraction

In [18]:
result_diff = num + num1
print(result_diff)

result_diff -= 1
print(result_diff)

7.4

##### Multiplication

In [ ]:
result_mul = num + num1
print(result_mul)

result_mul /= 2
print(result_div)

##### Division

In [ ]:
result_div = num / num1
print(result_div)

result_div /= 3
print(result_div)

##### Floor Division

In [21]:
result_floor = num1 // num
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [ ]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result__mod)

##### Exponential

In [ ]:
square = 5 ** 2
print(square)

square **= 2
print(square)

### String Input-Output

##### String Assignment

In [ ]:
name = "Solomon"
print(name)

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print("This is my first name: ", name)

print("Full name: ", name, end=" Kimrey")

##### String Concatenation

In [ ]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full__name += ", Jr"
print(full_name)

##### Type Conversion

In [ ]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

##### input()

In [ ]:
age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

##### format()

In [ ]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

##### Old Way (python 2)

In [ ]:
result_string1 = "You are %s and you look freat for your age!" %age
print(result_string1)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [25]:
color = input("What color is your car? ")
year = input("When was it made? ")
make = input("Who makes your vehicle? ")
model = input("What model is your car? ")
my_string = "Your {} {} {} was made in {}"
print(my_string.format(color, make, model, year))

What color is your car? blue
When was it made? 1990
Who makes your vehicle? toyota
What model is your car? corrola
Your blue toyota corrola was made in 1990

### If Statements

In [27]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num = 5
num1 = 10
num2 = 3

# if num == num1:
#    print('Equal values')
# else:
#   print('Not equal')
    
if num2 < num1 or num3 > 0:
    print("This ran!")
else:
    print("You are here")

This ran!

#### is keyword

In [ ]:
# The "is" keyword is for checking the same object, but not the same value

num3 = 55

if num3 == 55
    print("This is the exact number/object")

##### 'in' keyword

In [ ]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

##### 'not in' keyword'

In [ ]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [28]:
word = input("Give me a word")

if 'p' in word:
    print("There is a p")

Give me a wordkind of opportunity pkpopportunity kind of k
There is a p

## Using 'and'/'or' with If Statements

In [ ]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")

# If with ' or' statement
if num_13 == num_14 or num_11 > num_12:
    print("False and True")

### Elif Statements

In [29]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print("The name is Smith.")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("This is not Max")
else:
    print("The name is Max")

What is your name? Max
The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
# Syntax:
# for counter in condition

name = "Solomon Kimrey"
a_list = [1, 2, 3, 4]

for i in a_list:
    print(i)

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [30]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [31]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
name = "Solomon Kimrey"

for i in name:
    pass

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

### While Loops

In [32]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("Would you like me to stop? ")
    if user_input == "Yes":
        game_over = False

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i + 1))
        
    num += 1

### Built-In Functions

##### range()

In [ ]:
# range(start, stop, step)

for i in range(1, 20, 3):
    print(i)

##### len()

In [ ]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

##### help()

In [ ]:
# Use this function to view more info about a python function
help(len)

##### isinstance()

In [ ]:
# Check a variable tto o find out what object family (or data type) it belongs to
# isiinstance(var,type)
num = 4.5
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is an float")

##### abs()

In [ ]:
# |-5| = 5

print(abs(-5))

### Try and Except

In [ ]:
# Use this to log out graceful and useful error messages
# Does not stop the program

try:
    input_num = int(input("Guess a number"))
    print('Your number is: ' + str(input_num))
except:
    print("That didn't work. Change your input to a number")

### Lists

##### Declaring Lists

In [ ]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

##### Indexing a List

In [ ]:
# list_name[start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number 
print(names[:2])

# Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

##### .append()

In [ ]:
names.append('Brandon')
print(names)

##### .insert()

In [ ]:
names.insert(3,'Devon')
print(names)

##### .pop()

In [ ]:
# Defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)


##### .remove()

In [ ]:
# Value to be removed rather than index
# names.remove('bob')
# print(names)

# remove multiple brandons from list
while 'Brandon' in names:
    names.remove('Brandon')
print(names)

##### del()

In [ ]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used correctly

del(names[1])
print(names)

##### Concatenating Two Lists

In [ ]:
# Will append two lists together

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

##### Lists Within Lists

In [33]:
# Lists can hold any type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [ ]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for name in names:
    print(name)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
number = 0

while (number < 10):
    number += 1
    print(number**3)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [7]:
number = 1

while (number < 16):
    number += 1
    print(6*number-1)

11
17
23
29
35
41
47
53
59
65
71
77
83
89
95

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [14]:
print('How old are you?')
x = int(input())
if (x < 18):
    print("kids")
elif (x < 66):
    print("adults")
else:
    print("seniors")

How old are you?
65
adults